<div class="row review-step">
  <div class="row card-panel grey lighten-3 z-depth-0">
    <div class="col offset-s1 s10">
      <div class="row valign-wrapper">
        <div class="col s8">
          <h2>
            Citation Screening
          </h2>
        </div>
        <div class="col s4">
          <a class="btn right valign" href="/reviews/{{ review.id }}/citations/import" style="z-index: 1;">Import</a>
        </div>
      </div>

      <a href="/reviews/{{ review.id }}/citations/0">
        <div class="row">
          <div class="col s12 indigo lighten-2">
            <p class="flow-text white-text">0 citations imported</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
