<div class="row review-step">
  <div class="row card-panel grey lighten-3 z-depth-0">
    <div class="col offset-s1 s10">
      <div class="row valign-wrapper">
        <div class="col">
          <h2>Data Extraction</h2>
        </div>        
      </div>

      <a href="/reviews/{{ review.id }}/citations/pending">
        <div class="row">
          <div class="col s12 indigo lighten-2">
            <p class="flow-text white-text">not started 10</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
