<form action="/reviews/{% if review.id %}{{ review.id }}?_method=PUT{% endif %}" method="POST" class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input id="name" type="text" class="validate" name="name" value="{{ review.name }}" required>
      <label for="name">Review Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea id="description"
        class="materialize-textarea"
        name="description"
        required>{{ review.description }}</textarea>
      <label for="description">Description</label>
    </div>
  </div>

  <div class="row action-buttons">
    <button type="submit"
      class="waves-effect waves-light btn z-depth-0 btn-large">
      {% if review.id %}Update{% else %}Create{% endif %}
      <i class="material-icons left">done</i>
    </button>
    <a href="/reviews/{{ review.id }}"
      class="cancel-button waves-effect waves-light btn btn-large z-depth-0">
      Cancel
    </a>
  </div>
</form>
