<a class="row review-step" href="/reviews/{{ review.id }}/plan">
  <div class="row card-panel grey lighten-3 z-depth-0">
    <div class="col offset-s1 s10">
      <h2>Planning</h2>
      <div class="row">
        <div class="col s2 indigo lighten-2">
          <p class="flow-text white-text center-align">objective</p>
        </div>
        <div class="col s2 indigo lighten-1">
          <p class="flow-text white-text center-align">questions</p>
        </div>
        <div class="col s2 indigo">
          <p class="flow-text white-text center-align">pico</p>
        </div>
        <div class="col s2 indigo darken-1">
          <p class="flow-text white-text center-align">key terms</p>
        </div>
        <div class="col s2 indigo darken-2">
          <p class="flow-text white-text center-align">selection criteria</p>
        </div>
        <div class="col s2 indigo darken-3">
          <p class="flow-text white-text center-align">extraction form</p>
        </div>
      </div>
    </div>
  </div>
</a>
