 
   <li>
     <div class="collapsible-header">
		 <p>
				  <input type = "checkbox" id = "citation{{ study.id }}" name = "citation[{{ study.id }}]"/>
				  <label for = "citation{{ study.id }}">.</label>
				  <!--<label for = "citation{{ study.id }}">-->{{ study.citation.title }}<!--</label>-->
		</p>
	</div>
     <div class="collapsible-body">		 
		 <p>    
	<div class="row">
      <div class="col s9">
     {{ study.citation.authors }}	
	<span class = "journal"> {{ study.citation.journal_name }} </span>
	<span class = "year">{{ study.citation.pub_year }}</span>
	<p class = "abstract">{{ study.citation.abstract }}</p>
	<span class = "keywords"><span class = "keyword-title">Keywords: </span> {{ study.citation.keywords }} </span>
        <span>
            {{ study.citation_status }} 
        </span>
	</div>
			<div class="col s3">
			    <button class="btn waves-effect waves-light green" type="submit" name="status[included]">Include
			    </button>
			    <button class="btn waves-effect waves-light grey" type="submit" name="status[skip]">Skip
			    </button>
				<div class = "row">
	            <div class="input-field col s12">
	              <select multiple>
	                <option value="" disabled selected>Exclude reasons:</option>
			        {% for selection in selectionCriteria %}
	                  <option value="{{ selection.label }}">{{ selection.label }}</option>
			        {% endfor %}
	              </select>
	            </div>
			</div>
				
		    <button class="btn waves-effect waves-light red" type="submit" name="status[excluded]">Exclude
		    </button>
			</div>
		    </div>
		</p>
	</div>
   </li>
