  <div class="row">
    <form id = "filters" action = "/reviews/{{ reviewId }}/citations/{{ shownStatus }}/{{ page }}">
		<div class="col s2">
	    <p>
	      <input type="checkbox" id="test5" />
	      <label for="test5">Select All</label>
	    </p>
	</div>
	<div class="col s4">
		<a class="waves-effect waves-light btn">Highlights_ON</a>
	</div>
        <div class="input-field col s2">
          <input placeholder="Filter By" value="{{ tsquery }}" id="tsquery" type="text" name="tsquery">
          <label for="tsquery">Filter By</label>
        </div>
	    <div class="input-field col s2">or
	      <select name = "tag" >
	        <option value="" disabled selected>Tag</option>
	        <option value="tag1">Tag 1</option>
	        <option value="tag2">Tag 2</option>
	        <option value="tag3">Tag 3</option>
	      </select>
	      <label>Tags</label>
	    </div>
	    <div class="input-field col s2">
	      <select name = "order_by" >
	        <option value="relevance" {% if order_by == "relevance" %} selected {% endif %}>Relevance</option>
	        <option value="recency" {% if order_by == "recency" %} selected {% endif %}>Recently Added</option>
	      </select>
	      <label>Sort By</label>
	    </div>
		<input type = "submit" />
	</form>
  </div>
