{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}

  <div class="reviews reviews-page container">
    <div class="row">
      <div class="col s6">
        <h4>My Reviews</h4>
      </div>
      <div class="col s6">
        <p>
          <a href="/reviews/new">
            <button class="btn btn-large right z-depth-0">Create Review</button>
          </a>
        </p>
      </div>
    </div>
    <hr>
    <div class="reviews-list">
      {% include '../shared/notifications.html' %}
      {% for review in reviews %}
        {% include './partials/review-listing.html' %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
