{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
  <link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block content %}

  <div class="reviews reviews-page container">
    <div class="row">
      <div class="col s12">
        <h1>
          <a href="/reviews/{{ review.id }}">
            <i class="small material-icons">fast_rewind</i>
          </a>
          Review Settings
        </h1>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      {% include './settings/basic.html' %}
      <br>
      {% include './settings/collaboration.html' %}
      <br>
      {% include './settings/freeze.html' %}
      <br>
      {% include './settings/delete.html' %}
    </div>
  </div>

{% endblock %}
