{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}

  <div class="reviews review-page container">
    <div class="row">
      <div class="col s10">
        <h1>
          <a href="/reviews">
            <i class="small material-icons">fast_rewind</i>
          </a>
          {{ review.name }}
        </h1>
      </div>
      <div class="col s2">
        <p>
          <a href="/reviews/{{ review.id }}/settings">
            <button class="btn btn-large right z-depth-0">Settings</button>
          </a>
        </p>
      </div>
    </div>

    <hr>

    <div class="row review-step">
      <div class="row card-panel grey lighten-3 z-depth-0">
        <div class="col offset-s1 s10">
          <a href="/reviews/{{ review.id }}/plan">
            <h2>Planning</h2>
          </a>
          <div class="review-row">
            {% for item in plan %}
              <div class="review-col shade-{{ loop.index }}">
                <a href="/reviews/{{ review.id }}/plan#{{ item.route }}-a">
                  <p class="review-col-text flow-text white-text center-align">
                    {{ item.title }}
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row review-step">
      <div class="row card-panel grey lighten-3 z-depth-0">
        <div class="col offset-s1 s10">
          <div class="row valign-wrapper">
            <div class="col s8">
              <a href="/reviews/{{ review.id }}/citations">
                <h2>Citation Screening</h2>
              </a>
            </div>
            <div class="col s4">
              <a class="btn right valign" href="/reviews/{{ review.id }}/citations/import" style="z-index: 1;">Import</a>
            </div>
          </div>
          <div class="review-row">
            {% for item in progress %}
              <div class="review-col shade-{{ loop.index }}">
                <a href="/reviews/{{ review.id }}/citations/{{ item.route }}">
                  <p class="review-col-text flow-text white-text center-align">
                    {{ item.title }} ({{ item.citation_count }})
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row review-step">
      <div class="row card-panel grey lighten-3 z-depth-0">
        <div class="col offset-s1 s10">
          <a href="/reviews/{{ review.id }}/fulltext">
            <h2>Full-text Screening</h2>
          </a>
          <div class="review-row">
            {% for item in progress %}
              <div class="review-col shade-{{ loop.index }}">
                <a href="/reviews/{{ review.id }}/fulltext/{{ item.route }}">
                  <p class="review-col-text flow-text white-text center-align">
                    {{ item.title }} ({{ item.fulltext_count }})
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
