{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}
{% set pageType = 'extraction' %}
<div class="reviews reviews-page container">
  <div class="row">
    <div class="col s12">
      <h1>
        <a href="/reviews/{{ reviewId }}">
          <i class="small material-icons">chevron_left</i>
        </a>
        Data Extraction
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <ul class="tabs">
        <li class="tab col s2"><a {% if status == "not_started" %} class="active" {% endif %} target="_self" href="/reviews/{{ reviewId }}/extraction/not_started">screen [{{ counts.not_started }}]</a></li>
        <li class="tab col s2"><a {% if status == "started" %} class="active" {% endif %} target="_self" href="/reviews/{{ reviewId }}/extraction/started">in progress [{{ counts.started }}]</a></li>
        <li class="tab col s2"><a {% if status == "finished" %} class="active" {% endif %} target="_self" href="/reviews/{{ reviewId }}/extraction/finished">finished [{{ counts.finished }}]</a></li>
      </ul>
    </div>
  </div>

  <div class='reviews-list'>
    <ul class="collapsible popout" data-collapsible="accordion">
    {% for study in studies %}
    {% include './extraction-listing.html' %}
    {% endfor %}
    </ul>
  </div>

  {% set fromPage = 0 if page-9 < 0 else page-9 %}
  {% set toPage = numPages if fromPage+10 > numPages-1 else fromPage+10 %}
  <div class='row card-panel grey lighten-3 z-depth-0'>
    <ul class='pagination'>
      {% if page > 0 %}
      <li class='waves-effect'>
        <a href='?page={{ page - 1 }}'><i class="material-icons">chevron_left</i></a></li>
      {% else %}
      <li class='disabled'><a><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      {% for i in range(fromPage, toPage) %}
      <li class="{{ 'active' if i == page else 'waves-effect'}}"><a href="?page={{i}}">{{i+1}}</a></li>
      {% endfor %}

      {% if page < numPages - 1 %}
      <li class='waves-effect'>
        <a href='?page={{ page + 1 }}'><i class="material-icons">chevron_right</i></a></li>
      {% else %}
      <li class='disabled'><a><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  </div>

</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/extraction.js"></script>
{% endblock %}
