<div class='multi-chips'>
  {% if field.field_type != 'select_many' and field.value %}
  <div class='chip'><span>{{ field.value }}</span>{% if not isDisabled %}<i class="close material-icons">close</i>{% endif %}</div>
  {% else %}
    {% if field.value.length > 0 %}
      {% for value in field.value %}
      <div class='chip'><span>{{ value }}</span>{% if not isDisabled %}<i class="close material-icons">close</i>{% endif %}</div>
      {% endfor %}
    {% else %}
      <div><em>No values set</em></div>
    {% endif %}
  {% endif %}
</div>
