<div class="row card-panel grey lighten-3 z-depth-0">
  <div class="col offset-s2 s9">
    <ul class="pagination">
      <li class="waves-effect">
        <a href="/reviews/{{ reviewId }}/citations/{{ shownStatus }}/{{ 0 }}">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      {% for i in range %}
      <li class="waves-effect{% if i == page %} active {% endif %}">
        <a href="/reviews/{{ reviewId }}/citations/{{shownStatus}}/{{ i }}">{{i}}</a>
      </li>
      {% endfor %}
      <li class="waves-effect">
        <a href="/reviews/{{ reviewId }}/citations/{{ shownStatus }}/{{ numPages }}">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul> 
  </div>
</div>