<form action="/{{ auth_action }}" method="POST" class="row">
  {% include '../../shared/errors.html' %}
  {% if auth_action == 'signup' %}
    <div class="input-field col s12">
      <input id="username" name="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
  {% endif %}
  <div class="input-field col s12">
    <input id="email" name="email" type="email" class="validate">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12">
    <input id="password" name="password" type="password" class="validate">
    <label for="password">Password</label>
  </div>
  <input type="submit" value="{{ auth_action }}" class="col s12 z-depth-0 btn btn-large">
</form>
