<form action="/{{ auth_action }}" method="POST" class="row">
  {% include '../../shared/notifications.html' %}
  {% if auth_action == 'signup' %}
    <div class="input-field col s12">
      <input id="name" name="name" type="text" class="validate">
      <label for="name">Name</label>
    </div>
  {% endif %}
  <div class="input-field col s12">
    <input id="email" name="email" type="email" class="validate">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12">
    <input id="password" name="password" type="password" class="validate">
    <label for="password">Password</label>
  </div>
  <input type="submit" value="{{ auth_action }}" class="col s12 z-depth-0 btn btn-large">
  <br>

  
  <div class="capbox-inner col offset-s1 s10">
    <div>
      Type the characters below:
    </div>
  
<input type="hidden" id="txtCaptcha">
<input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
</div>
<br><br>
</form>




