{% extends "_base.html" %}

{% block css %}
{% endblock %}

{% block content %}

  <div class='container center'>
    <img src='images/CI+DK.png' height='120px' />
  </div>

  <div class="container">
    <div class="row">
      
      <div class="p-8">
        <div class="md:w-1/2 lg:w-1/4 text-5xl font-extralight mb-4 pb-6 mt-8 text-dk-charcoal border-b-3/2 border-dk-orange">
            Colandr<br>privacy policy
        </div>
    </div>
    <div class="px-8">
        <p class="py-2">
            This Privacy Policy sets out how Colandr uses and protects any information that you give Colandr when you use this website and, subsequently, when you interact with Colandr through emails or events. In using our website, digital tools, working or volunteering with us, we might collect personal identifiable information about you. Colandr is committed to protect your data and your privacy. We only collect the data we need to offer the best possible service to people ("users" from here on), and alway use it in accordance with this Privacy Policy.
        </p>
        <p class="py-2">
            The information you provide will be held in accordance with the applicable law and may be used by Colandr and its agents to supply Colandr services. For the purpose of the General Data Protection Regulation (GDPR) where applicable, the data controllers are Colandr.
        </p>

        <div class="text-2xl font-normal pt-4">What we collect</div>
        <p class="py-2">
            Colandr may collect information about you at different stages and through various means. We try to collect as little data as necessary to provide our services. Some of it is optional, but allows us to continuously improve ourselves. We will only collect such data with your explicit consent. Specifically, we collect information in the following ways:
        </p>

        <ol class="list-disc list-inside">
            <span class="text-dk-orange">+</span> When you sign up on the website, we will ask for information such as name, occupation, address, etc.<br>
            <span class="text-dk-orange">+</span> If you subscribe to any of the digital platforms we use (mailing lists, team collaboration tools, etc.), we will collect information about your interaction with the services.<br>
            <span class="text-dk-orange">+</span> If you apply to volunteer to work with us, we may interview you and keep track of your professional profile, skills etc.<br>
            <span class="text-dk-orange">+</span> In the course of your volunteering work with us, the output of your work may contain elements that describe you, e.g. pictures of you or notes that may refer to meetings and events you attended.<br>
        </ol>

        <p class="py-2">We will hold your personal information on our systems for as long as is necessary to provide you with our services. Since knowledge of our past interaction with volunteers and partner organizations is essential to continuously improve our services, we may keep data you provide to us indefinitely.</p>

        <div class="text-2xl font-normal pt-4">What we do with the information we gather</div>
        <p class="py-2">We collect information about our volunteers to ensure we can provide the best services to you and the organizations we support. In particular:</p>
        <ol class="list-disc list-inside">
            <span class="text-dk-orange">+</span> We may keep internal records of our users and activities.<br>
            <span class="text-dk-orange">+</span> We may use the information to improve our products and services. For example, from time to time, we may perform some statistical analysis on the data we have collected or on the feedback you have provided us.<br>
            <span class="text-dk-orange">+</span> We may contact you by email using the email address which you have provided.<br>
            <span class="text-dk-orange">+</span> We may periodically send promotional emails about events or other information which we think you may find interesting (for subscribers only).<br>
            <span class="text-dk-orange">+</span> We may sometimes use the address you provided to send you emails about events happening that may be of interest.<br>
            <span class="text-dk-orange">+</span> We may use photos taken during our meetings and events for marketing purposes.<br>
            <span class="text-dk-orange">+</span> We may combine information collected from multiple sources under a unique profile.<br>
            <span class="text-dk-orange">+</span> We use anonymous aggregated data to describe our work with volunteers.<br>
        </ol>
        <p class="py-2">We will inform you of any other purpose other than those set out in this Privacy Policy.</p>

        <div class="text-2xl font-normal pt-4">Where the data is stored</div>
        <p class="py-2">The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff and volunteers operating outside the EEA. Such personnel may be engaged in statistical analysis of your data and the provision of support services. By submitting your personal data, you agree to this transfer, storing, or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.</p>
        <p class="py-2">The information that we have collected about you will be stored on Colandr-owned or third party servers and, on occasions, on the local machines of staff and volunteers.
            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</p>

        <div class="text-2xl font-normal pt-4">Security</div>
        <p class="py-2">We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we use suitable physical, electronic, and managerial procedures to prevent unauthorized access, disclosure, alteration, or destruction of the information we hold. Where applicable, we periodically review our information collection, storage and processing practices.</p>

        <div class="text-2xl font-normal pt-4">Information that we share</div>
        <p class="py-2">We do not share personal information about our users with companies, organizations, and individuals outside of Colandr, unless one of the following holds:</p>
        <ol class="list-disc list-inside">
            <span class="text-dk-orange">+</span> We have the user’s explicit consent.<br>
            <span class="text-dk-orange">+</span> For sensitive personal information, we have the user’s explicit, opt-in, consent.<br>
            <span class="text-dk-orange">+</span> We are required by law to do so.<br>
        </ol>

        <div class="text-2xl font-normal pt-4">Cookies and Third party tools</div>
        <p class="py-2">Our website uses cookies to help us provide a better service to our users. Cookies are small data files which are stored on the user’s computer or mobile device when visiting a website. They can be managed through the user’s internet browser.</p>

        <p class="py-2">During your interaction with Colandr, we may ask, mandatorily or optionally, that you use a third party tool. We do our best to ensure that they are compliant with any applicable law. However, such tools are not covered by this Privacy Policy, and we do not have any control over them. Therefore, we are not responsible for the protection and privacy of any information which you provide whilst using such third party tools.</p>

        <p class="py-2">Our website may contain links to other websites of interest. However, any personal information you provide while visiting those websites is not governed by this Privacy Policy.</p>

        <div class="text-2xl font-normal pt-4">Controlling your personal information</div>
        <p class="py-2">Our policy is written using the European Union’s General Data Protection Regulation (GDPR) as a reference for all Colandr activities, including for individuals outside of the EU for which the law may not be applicable. You have the right to review, amend, and delete the data we have about you. For this, you can contact us at the following email address: privacy@Colandr.org. Learn about the GDPR in English and other languages at <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG">https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG</a>.</p>

        <div class="text-2xl font-normal pt-4">Supervisory Data Authorities</div>
        <p class="py-2">If Colandr suspects or has proof of any data breach happening, by us or any of our processors, Colandr will notify the relevant supervisory data authority and follow any applicable procedures as required by the law. Our systems and data management practices are designed to minimize any such occurrence. If you suspect any data breach by Colandr, or in case of any dispute regarding your personal information, you have the right to contact the relevant supervisory data authority, or you can let us know by contacting the following email address: privacy@Colandr.org.</p>

        <div class="text-2xl font-normal pt-4">Changes</div>
        <p class="py-2">Our Privacy Policy may change from time to time. We will post any Privacy Policy changes on this page and, if the changes are significant, we will provide a more prominent notice, such as an email notification of Privacy Policy changes.</p>

        <div class="text-2xl font-normal pt-4">Contact us</div>
        <p class="py-2">If you have any questions, comments, or requests regarding this Privacy Policy, you are welcome to contact us at privacy@Colandr.org.</p>
    </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}
