$primary-color: color("materialize-cyan", "darken-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("light-blue", "lighten-2") !default;
$success-color: color("light-blue", "darken-2") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;
