@import "components/color";
@import "shared/nav";

.colandr-color {
  @extend .indigo;
}

.section-header {
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

#filters {
	margin-bottom:0;
	.input-field {
		margin-top:0;
	}
	.col.s1 {
		text-align:center;
	}
}

.reviews-list {
	.btn-small {
	    height: 24px;
	    line-height: 24px;
	    padding: 0 0.5rem;
	}
	
	.collapsible-header {
		.row {
			margin-bottom:0;
		}
		h3 {
			font-size:20px;
			line-height:23px;
			margin:0;
		}
		span {
			color:gray;
			font-size:12px;
		}
		span.journal {
			font-style:italic;
		}
		p {
			margin:0;
			padding:0;
		}
		div.selectbox {
			float:right;
			width:170px;
			color:#FFF;
			
			input {
				background-color:#CC0000;
				text-transform:uppercase;
				text-align:center;
				margin-top:10px;
				height:24px;
				line-height:24px;
				box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			}
			input:hover {
				box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			}
		}
	}
	.collapsible-body {
		p.abstract {
			font-size:13px;
		}
		span.keyword-title {
			font-weight:bold;
		}
		p {
			padding:25px 20px 0;
		}
		div.chips {
			margin:25px 20px 20px;
		}
	}
}