@import "components/color";

.reviews {
  margin-top: 2rem;

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
    &.review-name-header {
      font-size: 2.4rem;
      margin: 10px 0;
    }
  }

  .row {
    position: relative;
  }

  .review-title-link {
    font-size: 1.8rem;
    display: inline-block;
    &.review-name {
      margin: 0;
    }
  }

  .review-title-date {
    color: color('grey', 'base');
    font-size: 1.2rem;
    margin: 0 0.5rem
  }
}

.review-step {
  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  .flow-text {
    font-size: 1rem;
  }
}

.action-buttons .cancel-button {
  background: color('grey', 'lighten-4');
  color: color('grey', 'darken-3');
  margin-left: 0.5rem;
}

.review-main-col {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.review-row {
  display: flex;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
  white-space: nowrap;
}

.review-col {
  flex: 1 1 0;
  height: 100%;
  min-width: 80px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.review-col-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

.review-col.shade-1 {
  background-color: #7986cb !important; }

.review-col.shade-2 {
  background-color: #5c6bc0 !important; }

.review-col.shade-3 {
  background-color: #3f51b5 !important; }

.review-col.shade-4 {
  background-color: #3949ab !important; }

.review-col.shade-5 {
  background-color: #303f9f !important; }

.review-col.shade-6 {
  background-color: #283593 !important; }

.upload-btn-box {
  margin: 0;
}

.upload-status {
  display: inline-block;
  margin: 0 10px;
}

.row .col.review-header-btn-list {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.review-header-btn {
  flex: 1 1 0;
  margin: 4px;
}
