@import "components/color";

.settings-header {
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

.screeners-form {
  margin-top: 2rem;

  .screeners-heading {
    font-weight: 700;
  }

  label {
    margin-right: 1.5rem;
  }
}
