<li class="fulltext-li {{ shownStatus }}" data-study-id="{{ study.id }}">
<div class="collapsible-header">
  <div class="row">
    <div class="col s12">
      <p><span class="authors">{{ study.citation.authors | join("; ") }}&nbsp;</span></p>
      <h3 class="title">{{ study.citation.title | safe}}</h3>
      <p><span class="journal">{{ study.citation.journal_name }}</span>
         <span class="year">({{ study.citation.pub_year }})</span>
       </p>
    </div>
  </div>
  <div class="row">
    {% if shownStatus == 'pending' %}
    <div class="decision-form-box col s12">
      {% if study.fulltext.filename %}
        {# TODO the form may be unneeded #}
        <form action="/reviews/{{ reviewId }}/fulltext/screenings/{{ shownStatus }}/{{ page }}" method="post">
          <input type="hidden" name="studyId" class="studyId" value="{{ study.id }}" />
          <input type="hidden" name="action" class="action" value="included" />
          <a href="/reviews/{{ reviewId }}/fulltext/screening/{{ study.id }}" class="btn waves-effect waves-light btn-small view-btn">View Full Text</a>

          {% include "../shared/pending_screening.html" %}
        </form>
      {% else %}
        {# TODO the form may be unneeded #}
        <form action="/reviews/{{ reviewId }}/fulltext/upload" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="studyId" class="studyId" value="{{ study.id }}" />
          <div class="btn waves-effect waves-light btn-small file-field input-field upload-btn-box">
            <div class="upload-btn">
              <span>Add Full Text</span>
              <input class="uploaded-fulltext" name="uploaded_file" type="file">
            </div>
          </div>
          <div class="upload-status"></div>
        </form>
      {% endif %}
    </div>
    {% else %}
    <ul class="collection screens">
      {% for screen in study.fulltext.screenings %}
      <li class = "{{ screen.status }}">
        {% include '../shared/active_user.html' %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div class="collapsible-body">
  <div class="row">
    <div class="col s12">
      <form>
        <p class="abstract">{{ study.citation.abstract | safe }}</p>
        <p><span class="keywords"><span class="keyword-title">Keywords: </span> {{ study.citation.keywords | safe }} </span></p>
        <input type="hidden" class="startTags" value="{{ study.tags }}" >
        <input type = "hidden" name = "citationId" class = "citationId" value="{{ study.id }}" />
        <div class="chips"></div>
      </form>
    </div>
  </div>
</div>
</li>
