{% extends '../citations/partials/citation-listing.html' %}

{% block screening_type %}fulltext{% endblock %}

{% block buttons %}
  <div class="row screening_box">
    {% if shownStatus == 'pending' %}
    <div class="decision-form-box col s12" data-hide-on-submit=1>
      {% if study.fulltext.filename %}
        {% include "../shared/pending_fulltext_screening.html" %}
      {% else %}
        <form action="/reviews/{{ reviewId }}/fulltext/upload" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="studyId" class="studyId" value="{{ study.id }}" />
          <div class="btn waves-effect waves-light btn-small file-field input-field upload-btn-box">
            <div class="upload-btn">
              <span>Add Full Text</span>
              <input class="uploaded-fulltext" name="uploaded_file" type="file">
            </div>
          </div>
          <div class="upload-status"></div>
        </form>
      {% endif %}
    </div>
    {% else %}
    <ul class="collection screens">
      {% for screen in study.fulltext.screenings %}
        <li class="{{ screen.status }} user_screening">
          {% include "../shared/user_screening.html" %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
