{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}

  <div class="reviews reviews-page container">
    <div class="row">
      <div class="col s12">
        <h1>
          <a href="/reviews/{{ review.id }}">
            <i class="small material-icons">fast_rewind</i>
          </a>
          Review Settings
        </h1>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col s3">
        <div class="collection">
          <a href="#!" class="collection-item active">Basic Info</a>
          <a href="#!" class="collection-item">Collaboration</a>
          <a href="#!" class="collection-item">Status</a>
        </div>
      </div>
      <div class="col offset-s1 s8">
        {% block settingContent %}
        {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
