<div class="row">
  <div class="col s12">
    <div class="settings-header card-panel z-depth-0 grey lighten-3">
      <h2>Collaboration</h2>
    </div>
    <table class="highlight">
      <tbody>
        {% for member in team %}
          {% include "./partials/member-row.html" %}
        {% endfor %}
      </tbody>
    </table>
    <br>
    <button class="btn btn-large z-depth-0">
      <i class="material-icons left">send</i>
      Invite
    </button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form class="screeners-form" action="/reviews/{{ review.id }}?_method=PUT" method="POST">
      <div class="row">
        <div class="col s3">
          <p class="screeners-heading">Screeners per Citation</p>
        </div>
        <div class="col s9">
          {% set field = "num_citation_screening_reviewers" %}
          {% include "./partials/screening-radio-buttons.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <p class="screeners-heading">Screeners per Full-Text</p>
        </div>
        <div class="col s9">
          {% set field = "num_fulltext_screening_reviewers" %}
          {% include "./partials/screening-radio-buttons.html" %}
        </div>
      </div>

      <br>

      <button type="submit"
        class="waves-effect waves-light btn z-depth-0 btn-large">
        Update Collaboration Settings
        <i class="material-icons left">done</i>
      </button>
    </form>
  </div>
</div>
