{% extends "./_settings.html" %}

{% block settingContent %}

  <div class="row">
    <h4>Freeze Review</h4>
    <p>You may freeze this review at any time to prevent further additions or changes from being made. This change is reversible.</p>
    <button class="btn btn-large z-depth-0">
      <i class="material-icons left">pause_circle_outline</i>
      Freeze
    </button>
  </div>

  <br>

  <div class="row">
    <h4>Delete Review</h4>
    <p>You may delete this review at any time. This change is NOT reversible.</p>
    <button class="btn red btn-large z-depth-0">
      <i class="material-icons left">delete</i>
      Delete
    </button>
  </div>

{% endblock %}
