{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}

  <div class="reviews reviews-page container">
    <div class="row">
      <div class="col s6">
        <h1>Citations</h1>
      </div>
      <div class="col s6">
      </div>
    </div>
    <hr>
    <form action="/reviews/{{ reviewId }}/citations/screenings" method="post">
    <div>
      <button name="status[included]">Include</button>
      <button name="status[skip]">Skip</button>
      <button name="status[excluded]">Exclude</button>
    </div>
    <div class="reviews-list">
			<form action="/reviews/{{ reviewId }}/citations/screenings" method="POST">
      {% include '../shared/notifications.html' %}
      {% for study in studies %}
        {% include './partials/citation-listing.html' %}
      {% endfor %}
    </div></form>
  </div>

{% endblock %}
