{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block content %}
  <div class="reviews reviews-page container">
    <div class="row">
      <div class="col s6">
        <h1>Citation Screening</h1>
      </div>
      <div class="col s6">
      </div>
    </div>
    <hr>
    {% include './partials/nav.html' %}	  
    <form action="/reviews/{{ reviewId }}/citations/screenings/{{ page }}" method="post">
    <div class="reviews-list">
			<form action="/reviews/{{ reviewId }}/citations/screenings" method="POST">
			    <ul class="collapsible popout" data-collapsible="accordion">
      {% include '../shared/notifications.html' %}
      {% for study in studies %}
        {% include './partials/citation-listing.html' %}
      {% endfor %}
  </ul>
    </div></form>
  </div>

{% endblock %}
