<li class="question-wrap">
  <div class="research-question-wrap">
    <div class="research-question-text input-field">
      <textarea class="materialize-textarea validate"
                name="research_questions[]"
                length="300"
                required
                {{ 'readonly' if not isOwner }}>{{ question }}</textarea>
      <label>Question {{ loop.index }}</label>
    </div>
    {% if isOwner %}
    <a class="btn-floating waves-effect waves-light red research-question-remove">
      <i class="material-icons">remove</i>
    </a>
    {% endif %}
  </div>
</li>
