<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Colandr</title>

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/main.css">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% include './shared/nav.html' %}
    {% block content %}
    {% endblock %}
    <!-- vendor scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
				<script>
				$(document).ready(function() {
				    $('select').material_select();
					$( ".chips" ).each(function( index ) {
					  var chip = $( this )
					  var tagsString = chip.parent().find('input').val()
					  var objects = []
					  if(tagsString.length > 0) {
						try {
						  var tags = $.parseJSON(tagsString)
					      for(tag in tags) {
					        objects.push({tag:tags[tag]})
					      }
					    } catch(err) {
					    	console.log(err)
					    }
				      }
					  chip.material_chip({
						data:objects,
    					placeholder: 'Enter a tag',
    					secondaryPlaceholder: '+Tag',
  				  	  });
				    });
  			        $('.collapsible').collapsible();
					$('.screenuser.active').click(function( e ) {
  					  var dropdown = $(this).parent().children(".dropdown")
					  dropdown.attr('style',"display:block")
					  var position = $(this).position()
					  console.log(position)
					  e.preventDefault();	
    				  e.stopPropagation();
				  });
					$('a.doexclude').click(function( e ) {
					  var dropdown = $(this).parent().children(".editexclusions")
				  	  dropdown.attr('style',"display:block")
				  	  var position = $(this).position()
				  	  console.log(position)
				  	  e.preventDefault();	
  				  	  e.stopPropagation();
			  		});
				  
				  $('a.remove').click(function( e ) {
					  $(this).parent().parent().parent().attr('style', 'display:none')
					  console.log($(this).parent().parent())
					  $(this).parent().parent().parent().parent().children(".removing").attr('style', 'display:block')
					  e.preventDefault();
  					  e.stopPropagation();
				  });
				  $('a.switch').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
					  $(this).parent().parent().parent().attr('style', 'display:none')
					  $(this).parent().parent().parent().parent().toggleClass('included').toggleClass('excluded')
					  $(this).parent().parent().parent().parent().children(".editexclusions").attr('style', 'display:block')
				  });
				  $('.removing a.cancel').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
			      	  $('.removing').each(function( index ) {
						$( this ).attr('style',"display:none")
					  });
				  });
				  $('.removing a.ok').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
			      	  //$('.removing').each(function( index ) {
					  //	 $( this ).attr('style',"display:none")
				      // });
					  //$(this).parent().parent().children(".editexclusions").attr('style', 'display:block')
					  var form = $(this).closest('form')
					  var serialized = form.serialize()
					  console.log(serialized)
					  $.ajax({
  						url: "http://localhost:3000/reviews/{{ reviewId }}/citations/screenings/delete",
  						context: document.body,
						method: 'POST',
						type: 'POST',
						data: serialized,
						error: function(jqXHR, textStatus, errorThrown )
						{
							action.val('included');
							alert(errorThrown);
  	  			      	    $('.removing').each(function( index ) {
  	  						  $( this ).attr('style',"display:none")
  	  					    });
						},
						success: function(data, textStatus, jqXHR)
						{
						  console.log(data)
	  			      	  $('.removing').each(function( index ) {
	  						$( this ).attr('style',"display:none")
	  					  });
						  form.parent().parent().slideUp()
						},
						
					  });
					  
				  });
				  
				  $('.editexclusions a.cancel').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
			      	  $('.editexclusions').each(function( index ) {
						$( this ).attr('style',"display:none")
					  });
					  var p = $(this).parent().parent()
					  if(p.is("li")) {	  
					    p.toggleClass('included').toggleClass('excluded')
					  }
				  });
				  $('.editexclusions a.ok').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
			      	  //$('.editexclusions').each(function( index ) {
					  //	$( this ).attr('style',"display:none")
					  // });
					  //$(this).parent().parent().children(".editexclusions").attr('style', 'display:block')
				  });
				  
				  $('.exclusions .editexclusions a.ok').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
					  console.log("JSON Request")
					  var form = $(this).closest('form')
					  var action = form.find('.action')
					  console.log(action)
					  action.val('excluded');
					  console.log(form)
					  var serialized = form.serialize()
					  console.log(serialized)
					  action.val('included');
					  $.ajax({
  						url: "http://localhost:3000/reviews/{{ reviewId }}/citations/screenings/submit",
  						context: document.body,
						method: 'POST',
						type: 'POST',
						data: serialized,
						error: function(jqXHR, textStatus, errorThrown )
						{
							action.val('included');
							alert(errorThrown);
  	  			      	    $('.editexclusions').each(function( index ) {
  	  						  $( this ).attr('style',"display:none")
  	  					    });
						},
						success: function(data, textStatus, jqXHR)
						{
						  console.log(data)
	  			      	  $('.editexclusions').each(function( index ) {
	  						$( this ).attr('style',"display:none")
	  					  });
						  form.parent().parent().slideUp()
						},
						
					  })
					  //$(this).parent().parent().children(".editexclusions").attr('style', 'display:block')
				  });
				  
				  $('.include-btn').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
					  console.log("JSON Request")
					  var form = $(this).closest('form')
					  var action = form.find('.action')
					  action.val('included');
					  console.log(action)
					  console.log(form)
					  var serialized = form.serialize()
					  console.log(serialized)
					  $.ajax({
  						url: "http://localhost:3000/reviews/{{ reviewId }}/citations/screenings/submit",
  						context: document.body,
						method: 'POST',
						type: 'POST',
						data: serialized,
						error: function(jqXHR, textStatus, errorThrown )
						{
							alert(errorThrown);
						},
						success: function(data, textStatus, jqXHR)
						{
						  console.log(data)
						  form.parent().parent().slideUp()
						},
						
					  })
					  //$(this).parent().parent().children(".editexclusions").attr('style', 'display:block')
				  });
				  
				  $('.skip-btn').click(function( e ) {
  					  e.stopPropagation();
					  e.preventDefault();
					  var form = $(this).closest('form')
				      form.parent().parent().slideUp()
					  //$(this).parent().parent().children(".editexclusions").attr('style', 'display:block')
				  });
				  
				  $(window).click(function(e) {
					  console.log(e.target.className)
					  var target = $(e.target)
				      if(!target.is('.dropdown li a')) {
				      	  $('.dropdown').each(function( index ) {
  							$( this ).attr('style',"display:none")
						  });
				      }
				      if(!target.is('.removing')) {
				      	  $('.removing').each(function( index ) {
  							$( this ).attr('style',"display:none")
						  });
					  }
					  if(!target.is('.switching')) {
					  	  $('.switching').each(function( index ) {
	  					  $( this ).attr('style',"display:none")
					   });
				      }
				  });
				  
				  $('.chips').on('chip.add', function(e, chip){
				    // you have the added chip here
					  console.log("added")
					  console.log(chip)
					  console.log(chip.tag)
					  var data = $(this).closest(".chips").material_chip('data')
					  var form = $(this).closest('li').find('form')
					  console.log(form)
					  var citationId = form.find('input.citationId').val()
					  console.log(citationId)
					  var tags = []
					  for(var tag in data) {
					  	tags.push(data[tag].tag)
					  }
					  console.log(tags)
					  
					  $.ajax({
  						url: "http://localhost:3000/reviews/{{ reviewId }}/citations/tags/" + citationId,
  						context: document.body,
						method: 'POST',
						type: 'POST',
						data: {tags:tags},
						error: function(jqXHR, textStatus, errorThrown )
						{
							alert(errorThrown);
						},
						success: function(data, textStatus, jqXHR)
						{
						  console.log(data)
						},
						
					  })
					  
				  });

				  $('.chips').on('chip.delete', function(e, chip){
					  console.log("removed")
					  console.log(chip)
					  console.log(chip.tag)
					  var data = $(this).closest(".chips").material_chip('data')
					  var form = $(this).closest('li').find('form')
					  console.log(form)
					  var citationId = form.find('input.citationId').val()
					  console.log(citationId)
					  var tags = []
					  for(var tag in data) {
					  	tags.push(data[tag].tag)
					  }
					  console.log(tags)
					  
					  $.ajax({
  						url: "http://localhost:3000/reviews/{{ reviewId }}/citations/tags/" + citationId,
  						context: document.body,
						method: 'POST',
						type: 'POST',
						data: {tags:tags},
						error: function(jqXHR, textStatus, errorThrown )
						{
							alert(errorThrown);
						},
						success: function(data, textStatus, jqXHR)
						{
						  console.log(data)
						},
						
					  })
					  
				  });
				  
				});
				</script>

    <!-- main -->
    {% block scripts %}{% endblock %}
  </body>
</html>
