<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Colandr</title>

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/main.css">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% include './shared/nav.html' %}
    {% block content %}
    {% endblock %}
    <!-- vendor scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
				<script>
				$(document).ready(function() {
				    $('select').material_select();
				    $('.chips').material_chip({
    					placeholder: 'Enter a tag',
    					secondaryPlaceholder: '+Tag',
  				  	});
  			        $('.collapsible').collapsible();
					$('.screenuser.active').click(function( e ) {
  					  var dropdown = $(this).parent().children(".dropdown")
					  dropdown.attr('style',"display:block")
					  var position = $(this).position()
					  console.log(position)
					  e.preventDefault();	
    				  e.stopPropagation();
				  });
				  $('a.remove').click(function( e ) {
					  $(this).parent().parent().parent().attr('style', 'display:none')
					  console.log($(this).parent().parent())
					  $(this).parent().parent().parent().parent().children(".removing").attr('style', 'display:block')
					  e.preventDefault();
  					  e.stopPropagation();
				  });
				  $('a.switch').click(function( e ) {
  					  e.stopPropagation();
					  $(this).parent().parent().parent().attr('style', 'display:none')
					  $(this).parent().parent().parent().children(".switching").attr('style', 'display:block')
				  });
				  $(window).click(function(e) {
					  console.log(e.target.className)
					  var target = $(e.target)
				      if(!target.is('.dropdown li a')) {
				      	  $('.dropdown').each(function( index ) {
  							$( this ).attr('style',"display:none")
						  });
				      }
				      if(!target.is('.removing')) {
				      	  $('.removing').each(function( index ) {
  							$( this ).attr('style',"display:none")
						  });
					  }
					  if(!target.is('.switching')) {
					  	  $('.switching').each(function( index ) {
	  					  $( this ).attr('style',"display:none")
					   });
				      }
				  });
				});
				</script>

    <!-- main -->
    {% block scripts %}{% endblock %}
  </body>
</html>
