<div class="row">
  <a name="objective-a"></a>
  <div class="col s12">
    <div class="section-header card-panel z-depth-0 grey lighten-4">
      <h2>Objective</h2>
    </div>

    <form action="?_method=PUT"
      method="POST"
      class="input-field">
      <textarea id="objective"
        class="materialize-textarea"
        name="objective" {{ 'readonly' if not isOwner }}>{{ plan.objective }}</textarea>
      <label for="objective">Objective</label>
      <button type="submit" class="btn btn-large z-depth-0" {{ 'disabled' if not isOwner }}>Save</button>
    </form>
  </div>
</div>
