<div class="row">
  <a name="pico-a"></a>
  <div class="col s12">
    <div class="section-header card-panel z-depth-0 grey lighten-3">
      <h2>PICO</h2>
    </div>
    <form action="?_method=PUT"
          method="POST">
      {% set field = 'population' %}
      {% include './fields/_pico.html' %}

      {% set field = 'intervention' %}
      {% include './fields/_pico.html' %}

      {% set field = 'comparison' %}
      {% include './fields/_pico.html' %}

      {% set field = 'outcome' %}
      {% include './fields/_pico.html' %}
      <button type="submit" class="btn btn-large z-depth-0">
        Save
      </button>
    </form>
  </div>
</div>
