<div class="row">
  <a name="research-questions-a"></a>
  <div class="col s12">
    <div class="section-header card-panel z-depth-0 grey lighten-4">
      <h2>Research Questions</h2>
    </div>
    <form action="?_method=PUT"
      method="POST"
      id="form-research-questions">
      <ul>
        {% for question in plan.research_questions %}
          {% include './fields/_research.html' %}
        {% endfor %}
      </ul>

      {% if isOwner %}
      <button id="add-field-research-questions"
              class="btn btn-large z-depth-0 green lighten-2">
        <i class="material-icons left">add</i>
        Add Question
      </button>
      {% endif %}
      <button type="submit" class="btn btn-large z-depth-0" {{ 'disabled' if not isOwner }}>
        Save
      </button>
    </form>
  </div>
</div>
