<div class="row">
  <a name="selection-criteria-a"></a>
  <div class="col s12">
    <div class="section-header card-panel z-depth-0 grey lighten-4">
      <h2>Selection Criteria</h2>
    </div>
    <form action="?_method=PUT"
      method="POST"
      class="input-field"
      id="form-selection-criteria">
      {% for criteria in plan.selection_criteria %}
        {% include './fields/_selection.html' %}
      {% endfor %}

      {% if isOwner %}
      <button id="add-field-selection-criteria"
        class="btn btn-large z-depth-0 green lighten-2">
        <i class="material-icons left">add</i>
        Add Item
      </button>
      {% endif %}
      <button type="submit" class="btn btn-large z-depth-0" {{ 'disabled' if not isOwner }}>
        Save
      </button>
    </form>
  </div>
</div>
