<form action="/reviews/{{ reviewId }}/fulltext/screenings/{{ shownStatus }}/{{ page }}" method="post">
  <input type="hidden" name="studyId" class="studyId" value="{{ study.id }}" />
  <input type="hidden" name="action" class="action" value="included" />
  <a href="/reviews/{{ reviewId }}/fulltext/screening/{{ study.id }}" class="btn waves-effect waves-light btn-small view-btn">View Full Text</a>
  <button class="btn waves-effect waves-light green btn-small include-btn" type="submit">
    Include
  </button>
  <button class="btn waves-effect waves-light grey btn-small skip-btn" type="button" >
    Skip
  </button>
  <div class = "exclusions">
    <a href="#" class = "btn-small btn waves-effect red doexclude">Exclude</a>
    <div class = "editexclusions" style="display:none;">
      <ul>
      {% for selection in selectionCriteria %}
        <li>
          <!-- !! This is a duplication of selection-criteria.html and should be replaced -->
          <input type = "checkbox" name = "criteria[{{ selection.label }}]" id="{{ selection.label }}{{ study.id }}" {% if screen.status == "excluded" %}
           {% if screen.exclude_reasons | containsElement(selection.label) %}
           checked="checked"
           {% endif %}
          {% endif %} />
          <label for="{{ selection.label }}{{ study.id }}">{{ selection.label }}</label>
        </li>
      {% endfor %}
      </ul>
      <a href = "#" class = "cancel">cancel</a> <a href = "#" class = "ok">ok</a>
    </div>
  </div>
</form>
