{% extends "_base.html" %}

{% block css %}
{% endblock %}

{% block content %}

  <div class='container center'>
    <img src='images/CI+DK.png' height='120px' />
  </div>

  <div class="container">
    <div class="row">
      <p>Colandr is the product of a collaborative partnership between the
      <a href='http://www.snappartnership.net/groups/evidence-based'>Science for Nature and People Partnership Evidence-Based Conservation</a>
      working group, <a href='http://www.datakind.org'>DataKind</a>, and
      <a href='http://www.conservation.org'>Conservation International</a>.</p>

      <p>This work is supported in part by Science for Nature and People Partnership (SNAPP) (a
      partnership of The Nature Conservancy, the Wildlife Conservation Society and the National
      Center for Ecological Analysis and Synthesis (NCEAS) at University of California, Santa
      Barbara), Conservation International, and DataKind.</p>

      <p>For more information, please contact
      <a href='mailto:cheng@nceas.ucsb.edu'>Samantha Cheng</a>
      or
      <a href='mailto:caitlin@datakind.org'>Caitlin Augustin</a>.
      </p>
    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}
